@media screen and (min-width:1000px) {
    .descricao{
        width: 30%;
    }
}
@media screen and (max-width:700px) {
    .botao1{
        width: 250px;
    }
}
@media screen and (max-width:700px) {
    .botao2{
        margin-top: 5px;
        width: 250px;
    }
}
@media screen and (max-width:700px) {
    .descricao{
        width: 90%;
    }
}

@media screen and (max-width:430px) {
    .descricao{
        
        margin-top: 20px;
    }
}



@media screen and (max-width:400px) {
    .logo-responsiva{
      position: relative;
      left: -100px;
    }
}

@media screen and (max-width:700px) {
    .logo{
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;

    }
}

@media screen and (min-width:700px) {
    .desaparecer-categorias{
       display: none;

    }
}
@media screen and (max-width:700px) {
    .desaparecer{
       display: none;

    }
}

@media screen and (max-width:700px) {
    .transformar{
       position: relative;
       left: 230px;
       bottom: 75px;

    }
}
@media screen and (max-width:700px) {
    .login-conta{
       position: relative;
       left: 170px;
       bottom: 160px;

    }
}
@media screen and (max-width:700px) {
    .sino{
        position: relative;
       left: 120px;
       bottom: 115px;
        
    }
}

@media screen and (max-width:700px) {
    .logo-responsiva{
       position: relative;
       right: 150px;

    }
}

@media screen and (max-width:700px) {
    .botao1{
       position: relative;
        bottom: 50px;

    }

    .botao2{
        position: relative;
         bottom: 50px;
 
     }
}
@media screen and (max-width:700px) {
    .navegação-esquerda{
       margin: 0 auto;
    }
}
@media screen and (max-width:595px) {
    .botao2{
       position: relative;
       left: 15px
    }
}



@media screen and (max-width:595px) {
    .swiper-container{
        position: relative;
        top: 10px;
        margin-left: 40px;
    }
}

@media screen and (max-width:595px) {
    .texto-2{
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width:595px) {
    .sino{
        float: right;
        
    }
}
